@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 mb-2">
        <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-arrow-circle-down fa-fw mr-1"></i>
            Withdrawal
        </a>
        <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-flash fa-fw mr-1"></i>
            Quick Cash $100
        </a>
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-block btn-primary">
            <i class="fa fa-question-circle mr-1"></i>
            Balance Inquiry
        </a>
    </div>
    <div class="col-md-6 mb-2">
        <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-print fa-fw mr-1"></i>
            Print Statement
        </a>
        <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-exchange fa-fw mr-1"></i>
            Transfer Funds
        </a>
        <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-arrow-circle-up mr-1"></i>
            Deposit
        </a>
    </div>
</div>